/build
/.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.stacktrace
*.class
*.log
/app/build
/app/local.properties

# Keys
*.jks
*.keystore
*.p12
*.pem
google-services.json

# App specific
/app/src/main/res/values/google_maps_api.xml
